openapi: 3.0.4
info:
  title: UTM Coordinate Converter
  description: >-
    UTM Coordinate Converter provides bidirectional conversion between UTM
    (Universal Transverse Mercator) coordinates and latitude/longitude using
    WGS84 datum.
  termsOfService: https://apiverve.com/terms/
  contact:
    name: APIVerve Support
    email: hello@apiverve.com
    url: https://apiverve.com/contact
  version: 1.0.0
externalDocs:
  description: Learn more about APIVerve
  url: https://docs.apiverve.com?utm_source=openapi
servers:
  - url: https://api.apiverve.com/
paths:
  /v1/utmconverter:
    get:
      summary: Lat/Long to UTM
      description: Convert latitude/longitude coordinates to UTM format
      operationId: utmconverter
      parameters:
        - name: direction
          in: query
          schema:
            type: string
          required: false
          description: Conversion direction
          example: to_utm
        - name: latitude
          in: query
          schema:
            type: number
          required: true
          description: Latitude (-90 to 90)
          example: 40.7128
        - name: longitude
          in: query
          schema:
            type: number
          required: true
          description: Longitude (-180 to 180)
          example: -74.006
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: status
                  error:
                    type: string
                    description: error
                  data:
                    type: object
                    description: data
              example:
                status: ok
                error: null
                data:
                  conversion: lat/lon to UTM
                  input:
                    latitude: 40.7128
                    longitude: -74.006
                  output:
                    zone: 18
                    hemisphere: 'N'
                    easting: 583959.37
                    northing: 4507351
                  formatted: 18N 583959E 4507351N
                  datum: WGS84
        '401':
          description: Your request was not authorized, or your API Key was invalid
        '404':
          description: Requested resource was not found
        '500':
          description: A server error has occurred, try again later
components:
  securitySchemes:
    api_key:
      type: apiKey
      name: x-api-key
      in: header
security:
  - api_key: []
